body{
    background-color: rgb(224, 224, 224);
    font-family: Arial, sans-serif;
    align-items: center;
}
h1 {
    text-align: center;
}
input {
    margin: 10px;
    padding: 10px;
}
.add{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 30%;
    left: 39.5%;
    
}
li {
    margin: 20px;
    padding: 10px;
    border: 1px dotted black;
    width: 300px;
    height: 33px;
}
div {
   position: absolute;
    top: 20%;
    left: 42%;
}
span {
    margin: 10px;
    /* overflow: auto; */
}
.delete {
    float: right;
    background-color: white;
    border: none;
}
.delete:hover{
    background-color: rgb(224, 224, 224);
}